
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #555;
$gray: #888;
$lightGray: #aaa;
$lighterGray: #ddd;
$white: #fff;

// Font stacks
$ptSerif: "PT Serif", Georgia, "Times New Roman", serif;
$ptSans: "PT Sans", "Trebuchet MS", Helvetica, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
